# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
# Node
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Flutter
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.flutter-plugins
.ios/
.android/
# IDE
.vscode/
.DS_Store
